* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    background-color: #292928;
    font-family: "montserrat";
    color: white;
}

header {
    padding: 3rem;
    background-color: #222221 ;
}

.logo__nav {
    width: 12rem;
}

.seccionprincipal {
    padding-top: 4rem;
}

.seccionprincipal__imagen {
    width: 40rem;
}
h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 4rem;
}

p {
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
}
.logosprogramas {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 3rem;
}

.logosprogramas__abajo {
display: flex;
flex-direction: row;
justify-content:center;
}
.logosprogramas__arriba {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logosprogramas__arriba__vba {
    width: 5rem;
    margin: 2rem;
}
.logosprogramas__arriba__excel {
    width: 7rem;
    margin: 2rem;
}
.logosprogramas__arriba__python {
    width: 9rem;
    margin: 2rem;
}
.logosprogramas__abajo__googlesheets {
    width: 11rem;
    margin: 2rem;
}
.logosprogramas__abajo__powerbi {
    width: 9rem;
    margin: 2rem;
}

.card {
    margin: 5rem;
    padding: 3rem ;
    background-color: #222221;
    width: 30rem;
    position: relative;
}
.card__imagen {
    width: 40rem;
    max-width: 100%;
    visibility: hidden;
}
.card__titulo {
    margin-top: 2rem;
    font-weight: 800;
    font-size: 3rem;

}
.card__descripcion {
    margin-top: 2rem;
    font-weight: 200;
    font-size: 1.5rem;
    
}


.boton {
    position: absolute;
    top: 0.2rem;
    right: -2rem;
    
}

footer {
    padding: 3rem;
    margin-top: 3rem;
    background-color: #222221;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.footer__logo {
    width: 12rem;
}
footer div a img {
    padding: 1rem;
}