* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    background-color: #292928;
    font-family: "montserrat";
    color: white;
}

header {
    background-color: #222221 ;
}
